body {
    margin: 0px;
    overflow: hidden;
    font-family: 'Playfair Display SC', serif;
    color: #888;
}

h1 {
    font-weight: 700;
    font-size: 15pt;
}

p {
    font-weight: 400;
    font-size: 10pt;
}

#canvasElement {
    background: #030303;
    padding: 0px;
    margin: 0px;
}

#panel {
    position: fixed;
    padding: 5px;
}